@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Noto+Naskh+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(image/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.navbar{
    height:80px ;
    width: 100%;
    border-bottom: 1px solid white;
}
.navbar ul li{
    display: inline;
    margin-right: 20px;
    padding: 10px;

    
}
.navbar ul{
   

   padding: 1px;
   list-style: none;
   float: right;
   line-height: 80px;
   
   
}
.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    
}
.navbar span img{
    width: 80px;
    height: 80px;
}
.navbar ul li a:hover{
    color: red;
    border-bottom: 3px solid black;
    font-size: 17px;
}
.navbar span img:hover{
    height: 85px;
    width: 85px;
}



.quotes{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px dashed white;
}
.quotes h2{
    font-family: 'Cinzel', serif;
    text-align: center;
    padding:auto;
    margin:auto;
}
.quotes h2:hover{
     color: red;
}
.mainbox{
    width: 100%;
    /* background-color: blue; */
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cont{
    width: 50%;
    flex: 1;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.cont .name h1{
    font-family: 'Cinzel', serif;
    font-size: 60px;
   height: fit-content;
   text-decoration: underline;
   text-underline-offset: 5px;
   text-decoration-thickness: 2px;
   /* background-color: rgba(255,255,255, 0.2);
   border-radius: 10px; */
   /* border-top: 1px solid white;
   border-right: 1px solid white; */

    
}

.mainbox .cont .name{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
    
    
}
.mainbox .cont .abtme{
    height: 50%;
    width: 100%;
    /* background-color:darkgoldenrod; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
} 
.mainbox .cont .abtme h3{
    font-size: 30px;
    font-family: 'Cinzel', serif;
    /* background-color: aliceblue; */
    height: min-content;
    
}
.image{
    flex: 1;
    width: 50%;
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    
}
.image .photo{
    width: 40%;
    height: 70%;
    bottom: 0;
    position: absolute;
    right: 100px;
}

.image .photo img{
    height: 600px;
    width: 600px;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.image:hover .png1{
    bottom: 40px;
}
.image:hover .mp2{
    left: 45%;
}